@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;600&family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;

    flex-direction: row;

    width: 100%;

    background-color: #E5E5E5;

    justify-content: center;
    align-items: center;

    margin-top: 20px;

}

.fundo-imagem img {
    width: 100%;
    height: 95vh;

    border-radius: 20px;
}

.formulario {
    display: flex;

    width: 600px;
    height: 95vh;
    

    flex-direction: column;

    align-items: center;
    justify-content: center;

    background-color: #FCFEFF;

    border-radius: 20px;

    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.formulario h1 {

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 39px;
    
    
    margin-bottom: 52px;
}

.formulario .nome, .email, .senha, .confirmacao-senha {
    display: flex;
    flex-direction: column;
}

.nome, .email, .senha, .confirmacao-senha p:nth-child(1) {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;

    color: #7C838A;
}

.barra {
    width: 400px;
    height: 45px;
    background: rgba(176, 186, 195, 0.4);
    border-radius: 20px;

    border: none;

    margin-bottom: 41px;

    padding: 15px;
}

.erro-formulario {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    width: 400px;

    color: red;

    font-size: 12px;

    margin-top: -35px;
    margin-bottom: 12px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
}

.botao {
    text-align: center;
}

.submit {
    text-align: center;

    width: 140px;
    height: 50px;
    
    margin-bottom: 35px;

    background-color: #5af35f;
    border-radius: 10px;
    border: none;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 39px;
}

.redirect-login {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;

    color: #7C838A;

}

.redirect-login a {
    text-decoration: none;
    color: #2fe835;
}
